<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
                <h1>{{editando ? 'Editar' : 'Cadastrar'}} Produto</h1>
                <div class="ui-g form-group">
  
                    <div class="ui-g-12 ui-md-2 ui-fluid">
                        <span class="md-inputfield">
                            <p-spinner maxlength="3" name="numIdentificador" formControlName="numIdentificador" [min]="1" [max]="999"></p-spinner>
                            <label>Código</label>
                        </span>
                    </div>
  
                    <div class="ui-g-12 ui-md-10 ui-fluid">
                      <span class="md-inputfield">
                        <input pInputText type="text" maxlength="45" name="descricao" formControlName="descricao">
                          <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe a Descrição"></app-message>
                          <label>Descrição</label>
                      </span>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <p-multiSelect
                                optionLabel="descricao"
                                selectedItemsLabel="{0} Ingredientes Selecionados"
                                defaultLabel="Selecione os Ingredientes"
                                [options]="ingredientesBase" formControlName="ingredientes">
                            </p-multiSelect>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
                        <span class="md-inputfield">
                            <p-dropdown name="categoria" [options]="categorias" formControlName="codigo"></p-dropdown>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-fluid">
                        <span class="md-inputfield">
                            <input currencyMask
                                class="ng-untouched ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget"
                                max="9999.99"
                                maxlength="10"
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                name="valor" formControlName="valor">
                            <label>Valor</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-3 ui-fluid">
                        <span class="md-inputfield">
                            <p-spinner name="quantidadeMedida" formControlName="quantidadeMedida" [step]="0.1" [min]="0.1" [max]="9999"></p-spinner>
                            <label>Volume</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="unidadeMedida">
                        <span class="md-inputfield">
                            <p-dropdown name="unidadeMedida" [options]="unidadesMedida" formControlName="codigo"></p-dropdown>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-2 ui-fluid" *ngIf="!formulario.get('imagem').value">
                        <span class="md-inputfield">
                            <p-fileUpload name="imagem" mode="basic" auto="true" maxFileSize="10000000" chooseLabel="Imagem"
                                accept="image/*" [url]="urlUploadImagem"
                                (onBeforeUpload)="antesUploadImagem()"
                                [headers]="httpHeaders"
                                (onUpload)="aoTerminarUploadImagem($event)"
                                (onError)="erroUpload($event)"
                                [hidden]="uploadEmAndamento">
                            </p-fileUpload>

                            <p-progressSpinner [style]="{ width: '25px', height: '25px' }" [hidden]="!uploadEmAndamento"></p-progressSpinner>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-fluid" *ngIf="formulario.get('imagem').value">
                        <span class="md-inputfield">
                            <button style="margin-right: 1%;" pButton type="button" class="ui-button-danger" icon="ui-icon-delete"
                            pTooltip="Remover Imagem" tooltipPosition="top" (click)="removerImagem()"></button>

                            <a target="_blank" pTooltip="Download Imagem" tooltipPosition="top" [href]="formulario.get('urlImagem').value">{{nomeAnexo}}</a>
                        </span>
                    </div>
  
                    <div class="ui-g-12">
                        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" style="margin-right: .5em" class="ui-button-success"></button>
                        <a pButton routerLink="/produtos" label="Voltar" class="ui-button-secondary"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>