<div class="exception-body notfound">
    <div class="exception-panel">
        <div class="exception-code">
            <img src="assets/layout/images/exception/404.svg">
        </div>

        <div class="exception-detail">
            <div class="exception-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <h1>PAGE NOT FOUND</h1>
        </div>
    </div>
</div>
