<div class="ui-g">
    <div class="ui-g-12">
        <a class="ui-button-success"  style="margin-bottom: 2vh;" pButton routerLink="/perfis/cadastrar" label="Novo Perfil"></a>
        <div class="card card-w-title">
            <h1>Perfil</h1>
            <p-table #dt [columns]="cols" [responsive]="true" styleClass="ui-table-perfil" [value]="perfis" [paginator]="true" [rows]="10" dataKey="vin" selectionMode="single">
                <ng-template pTemplate="caption">
                    Lista de Perfis
                    <div class="ui-table-globalfilter-container">
                        <input type="text" pInputText size="50" placeholder="Procurar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                            <b>{{col.header}}</b>
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th style="width: 10em; text-align: center;">
                            <button pButton type="button" icon="ui-icon-settings"></button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                        <td>{{rowData.codigo}}</td>
                        <td>{{rowData.descricao}}</td>
                        <td><b [style.color]="rowData.status ? 'green':'red'">{{ rowData.status ? 'Ativo' : 'Inativo' }}</b></td>
                        <td style="text-align: center">
                            <button pButton 
                            type="button" 
                            style="margin-right: .5em"
                            class="ui-button-success" 
                            icon="ui-icon-edit"
                            pTooltip="Editar"
                            tooltipPosition="top"
                            (click)="alterar(rowData)"
                            [disabled]="!auth.temPermissao('ROLE_ALTERAR_PERFIL')">
                            </button>
                            <button pButton
                            type="button" 
                            style="margin-right: .5em"
                            class="ui-button-danger" 
                            icon="ui-icon-delete"
                            pTooltip="Excluir"
                            tooltipPosition="top"
                            (click)="confirmarExcluir(rowData)"
                            [disabled]="!auth.temPermissao('ROLE_EXCLUIR_PERFIL')">
                            </button>
                            <button pButton
                            icon="ui-icon-block"
                            class="ui-button-warning"
                            [pTooltip]="rowData.status ? 'Desativar' : 'Ativar'"
                            tooltipPosition="top"
                            (click)="alterarStatus(rowData)"
                            [disabled]="!auth.temPermissao('ROLE_ALTERAR_PERFIL')">
                            </button>
                        
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>