<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
                <h1>{{editando ? 'Editar' : 'Cadastrar'}} Usuário</h1>
                <div class="ui-g form-group">

                    <div class="ui-g-12 ui-md-5 ui-fluid">
                        <span class="md-inputfield">
                            <input type="text" pInputText name="nome" formControlName="nome">
                            <app-message [control]="formulario.get('nome')" error="obrigatoriedade" text="Informe o Nome"></app-message>
                            <label>Nome Completo</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-7 ui-fluid">
                        <span class="md-inputfield">
                            <input pInputText type="text" name="login" formControlName="login">
                            <app-message [control]="formulario.get('login')" error="obrigatoriedade" text="Informe o E-Mail"></app-message>
                            <label>E-Mail</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <input pPassword type="password" minlength="5" name="senha" formControlName="senha" [feedback]="false">
                            <app-message [control]="formulario.get('senha')" error="obrigatoriedade" text="Informe a Senha"></app-message>
                            <label>Senha</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <input pPassword type="password" minlength="5" name="confirmarSenha" formControlName="confirmarSenha" [feedback]="false">
                            <label>Confirmação Senha</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" style="margin-right: .5em" class="ui-button-success"></button>
                        <a pButton routerLink="/usuarios" label="Voltar" class="ui-button-secondary"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>