<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
                <h1>{{editando ? 'Editar' : 'Cadastrar'}} Empresa</h1>
                <div class="ui-g form-group">

                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <input pInputText type="text" name="razaoSocial" formControlName="razaoSocial">
                            <app-message [control]="formulario.get('razaoSocial')" error="obrigatoriedade" text="Informe a Razão Social"></app-message>
                            <label>Razão Social</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <input pInputText type="text" name="nomeFantasia" formControlName="nomeFantasia">
                            <app-message [control]="formulario.get('nomeFantasia')" error="obrigatoriedade" text="Informe o Nome Fantasia"></app-message>
                            <label>Nome Fantasia</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <input pInputText type="text" name="whatsapp" formControlName="whatsapp">
                            <app-message [control]="formulario.get('whatsapp')" error="obrigatoriedade" text="Informe o Whatsapp"></app-message>
                            <label>Whatsapp</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <input pInputText type="text" name="telefoneContato" formControlName="telefoneContato">
                            <app-message [control]="formulario.get('telefoneContato')" error="obrigatoriedade" text="Informe o Telefone de Contato"></app-message>
                            <label>Telefone Contato</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="plano">
                        <span class="md-inputfield">
                            <p-dropdown name="plano" [options]="planos" formControlName="codigo"></p-dropdown>
                            <app-message [control]="formulario.get('codigo')" error="obrigatoriedade" text="Informe o Plano"></app-message>
                            <label *ngIf="editando">Plano</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <span class="md-inputfield">
                            <p-dropdown name="statusDelivery" [options]="status" formControlName="statusDelivery"></p-dropdown>
                            <app-message [control]="formulario.get('statusDelivery')" error="obrigatoriedade" text="Informe o Status do Delivery"></app-message>
                            <label *ngIf="editando">Delivery</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" style="margin-right: .5em" class="ui-button-success"></button>
                        <a pButton routerLink="/" label="Voltar" class="ui-button-secondary"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>