<router-outlet></router-outlet>

<p-confirmDialog #confirmacao header="Confirmação" icon="ui-icon-warning" [style]="{width: '425px'}">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacao.reject()"></button>
    </p-footer>
</p-confirmDialog>