<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive, 'layout-sidebar-dark': app.darkMenu}"
    (click)="app.onSidebarClick($event)" (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#">
            <img alt="logo" src="assets/layout/images/logo-slim.png" />
            <span class="app-name">EMPRESA</span>
        </a>
        <a href="#" class="sidebar-anchor" title="Toggle Menu" (click)="app.onToggleMenuClick($event)"></a>
    </div>
    
    <ul class="layout-menu" (click)="onMenuClick()">
        <div *ngFor="let item of model; let i = index;">
            <li *ngIf="item.permissao" app-menuitem [item]="item" [index]="i" [root]="true"></li>
        </div>
    </ul>
</div>
