<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
                <h1>{{editando ? 'Editar' : 'Cadastrar'}} Categoria</h1>
                <div class="ui-g form-group">

                    <div class="ui-g-12 ui-md-2 ui-fluid">
                        <span class="md-inputfield">
                            <p-spinner maxlength="3" name="numIdentificador" formControlName="numIdentificador" [min]="1" [max]="999"></p-spinner>
                            <app-message [control]="formulario.get('numIdentificador')" error="obrigatoriedade" text="Informe o Código de Ordenação"></app-message>
                            <label>Código Ordenação</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-10 ui-fluid">
                        <span class="md-inputfield">
                            <input pInputText type="text" name="descricao" formControlName="descricao">
                            <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe a Descrição"></app-message>
                            <label>Descrição</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" style="margin-right: .5em" class="ui-button-success"></button>
                        <a pButton routerLink="/categorias" label="Voltar" class="ui-button-secondary"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>