<div class="ui-g">
  <div class="ui-g-12">
      <a class="ui-button-success"  style="margin-bottom: 2vh;" pButton routerLink="/produtos/cadastrar" label="Novo Produto"></a>
      <div class="card card-w-title">
          <h1>Produto</h1>
          
          <p-table #dt [columns]="cols" [resizableColumns]="true" [responsive]="true" styleClass="ui-table-perfil" [value]="produtos" [paginator]="true" [rows]="10">
              <ng-template pTemplate="caption">
                  Lista de Produtos
                  <div class="ui-table-globalfilter-container">
                      <input type="text" pInputText size="50" placeholder="Procurar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                  </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                          <b>{{col.header}}</b>
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 10em; text-align: center;">
                          <button pButton type="button" icon="ui-icon-settings"></button>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                      <td>{{rowData.numIdentificador}}</td>
                      <td>{{rowData.descricao}}</td>
                      <td>{{rowData.categoria}}</td>
                      <td>R$ {{rowData.valor | number:'1.2-2'}}</td>
                      <td><b [style.color]="rowData.statusProduto ? 'green':'red'">{{ rowData.statusProduto ? 'Ativo' : 'Inativo' }}</b></td>
                      <td style="text-align: center">
                          <button pButton 
                          type="button" 
                          style="margin-right: .5em"
                          class="ui-button-success" 
                          icon="ui-icon-edit"
                          pTooltip="Editar"
                          tooltipPosition="top"
                          (click)="alterar(rowData)"
                          [disabled]="!auth.temPermissao('ROLE_ALTERAR_PRODUTO')">
                          </button>
                          <button pButton
                          type="button" 
                          style="margin-right: .5em"
                          class="ui-button-danger" 
                          icon="ui-icon-delete"
                          pTooltip="Excluir"
                          tooltipPosition="top"
                          (click)="confirmarExcluir(rowData)"
                          [disabled]="!auth.temPermissao('ROLE_EXCLUIR_PRODUTO')">
                          </button>
                          <button pButton
                          icon="ui-icon-block"
                          class="ui-button-warning"
                          [pTooltip]="rowData.statusProduto ? 'Desativar' : 'Ativar'"
                          tooltipPosition="top"
                          (click)="alterarStatus(rowData)"
                          [disabled]="!auth.temPermissao('ROLE_ALTERAR_PRODUTO')">
                          </button>
                      
                      </td>
                  </tr>
              </ng-template>
          </p-table>

      </div>
  </div>
</div>