<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="../../../assets/layout/images/logo-slim.png">
        </div>
        <div class="login-panel-content">
            <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="login()">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <h1>Painel Administrativo</h1>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="email" pInputText name="email" formControlName="email">
                            <label>E-mail</label>
                            <app-message [control]="formulario.get('email')" error="obrigatoriedade"
                            text="Informe o E-mail"></app-message>
                            <app-message [control]="formulario.get('email')" error="email"
                            text="Informe um E-mail Válido"></app-message>
                        </span>
                    </div>
                    <div class="ui-g-12">   
                        <span class="md-inputfield">
                            <input type="password" pInputText name="senha" formControlName="senha">
                            <label>Senha</label>
                            <app-message [control]="formulario.get('senha')" error="obrigatoriedade"
                            text="Informe a Senha"></app-message>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <button pButton type="submit" label="Salvar" icon="ui-icon-person" [disabled]="formulario.invalid"></button>
                    </div>

                    <div class="ui-g-12">
                        Não tem uma conta? Solicite seu <a href="#">Cadastro</a> agora.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
