<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
                <h1>{{editando ? 'Editar' : 'Cadastrar'}} Perfil</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-5 ui-fluid">
                        <span class="md-inputfield">
                            <input type="text" pInputText name="descricao" formControlName="descricao">
                            <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
                            text="Informe a Descrição"></app-message>
                            <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
                            text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} Caracteres..."></app-message>
                            <label>Descrição</label>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" style="margin-right: .5em" class="ui-button-success"></button>
                        <a pButton routerLink="/perfis" label="Voltar" class="ui-button-secondary"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>